In [324]:
from sqlalchemy import create_engine, inspect

engine = create_engine(r"sqlite:///C:/Users/blinklet/Documents/chinook-database/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite")
inspector = inspect(engine)

from pprint import pprint

pprint(inspector.get_table_names())

# Columns in table "Album"
pprint(inspector.get_columns("Album"))
print()

# Primary Key for table "Album"
pprint(inspector.get_pk_constraint("Album"))

['Album',
 'Artist',
 'Customer',
 'Employee',
 'Genre',
 'Invoice',
 'InvoiceLine',
 'MediaType',
 'Playlist',
 'PlaylistTrack',
 'Track']
[{'autoincrement': 'auto',
  'default': None,
  'name': 'AlbumId',
  'nullable': False,
  'primary_key': 1,
  'type': INTEGER()},
 {'autoincrement': 'auto',
  'default': None,
  'name': 'Title',
  'nullable': False,
  'primary_key': 0,
  'type': NVARCHAR(length=160)},
 {'autoincrement': 'auto',
  'default': None,
  'name': 'ArtistId',
  'nullable': False,
  'primary_key': 0,
  'type': INTEGER()}]

{'constrained_columns': ['AlbumId'], 'name': None}

In [342]:
print(*Base.metadata.tables, sep=", ")

pprint(Base.metadata.tables)

print(*Base.classes.keys(), sep=", ")

Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, Track, MediaType, Playlist, PlaylistTrack
FacadeDict({'Album': Table('Album', MetaData(), Column('AlbumId', INTEGER(), table=<Album>, primary_key=True, nullable=False), Column('Title', NVARCHAR(length=160), table=<Album>, nullable=False), Column('ArtistId', INTEGER(), ForeignKey('Artist.ArtistId'), table=<Album>, nullable=False), schema=None), 'Artist': Table('Artist', MetaData(), Column('ArtistId', INTEGER(), table=<Artist>, primary_key=True, nullable=False), Column('Name', NVARCHAR(length=120), table=<Artist>), schema=None), 'Customer': Table('Customer', MetaData(), Column('CustomerId', INTEGER(), table=<Customer>, primary_key=True, nullable=False), Column('FirstName', NVARCHAR(length=40), table=<Customer>, nullable=False), Column('LastName', NVARCHAR(length=20), table=<Customer>, nullable=False), Column('Company', NVARCHAR(length=80), table=<Customer>), Column('Address', NVARCHAR(length=70), table=<Customer>), Column('City', NVARCHAR(length=40), table=<Customer>), Column('State', NVARCHAR(length=40), table=<Customer>), Column('Country', NVARCHAR(length=40), table=<Customer>), Column('PostalCode', NVARCHAR(length=10), table=<Customer>), Column('Phone', NVARCHAR(length=24), table=<Customer>), Column('Fax', NVARCHAR(length=24), table=<Customer>), Column('Email', NVARCHAR(length=60), table=<Customer>, nullable=False), Column('SupportRepId', INTEGER(), ForeignKey('Employee.EmployeeId'), table=<Customer>), schema=None), 'Employee': Table('Employee', MetaData(), Column('EmployeeId', INTEGER(), table=<Employee>, primary_key=True, nullable=False), Column('LastName', NVARCHAR(length=20), table=<Employee>, nullable=False), Column('FirstName', NVARCHAR(length=20), table=<Employee>, nullable=False), Column('Title', NVARCHAR(length=30), table=<Employee>), Column('ReportsTo', INTEGER(), ForeignKey('Employee.EmployeeId'), table=<Employee>), Column('BirthDate', DATETIME(), table=<Employee>), Column('HireDate', DATETIME(), table=<Employee>), Column('Address', NVARCHAR(length=70), table=<Employee>), Column('City', NVARCHAR(length=40), table=<Employee>), Column('State', NVARCHAR(length=40), table=<Employee>), Column('Country', NVARCHAR(length=40), table=<Employee>), Column('PostalCode', NVARCHAR(length=10), table=<Employee>), Column('Phone', NVARCHAR(length=24), table=<Employee>), Column('Fax', NVARCHAR(length=24), table=<Employee>), Column('Email', NVARCHAR(length=60), table=<Employee>), schema=None), 'Genre': Table('Genre', MetaData(), Column('GenreId', INTEGER(), table=<Genre>, primary_key=True, nullable=False), Column('Name', NVARCHAR(length=120), table=<Genre>), schema=None), 'Invoice': Table('Invoice', MetaData(), Column('InvoiceId', INTEGER(), table=<Invoice>, primary_key=True, nullable=False), Column('CustomerId', INTEGER(), ForeignKey('Customer.CustomerId'), table=<Invoice>, nullable=False), Column('InvoiceDate', DATETIME(), table=<Invoice>, nullable=False), Column('BillingAddress', NVARCHAR(length=70), table=<Invoice>), Column('BillingCity', NVARCHAR(length=40), table=<Invoice>), Column('BillingState', NVARCHAR(length=40), table=<Invoice>), Column('BillingCountry', NVARCHAR(length=40), table=<Invoice>), Column('BillingPostalCode', NVARCHAR(length=10), table=<Invoice>), Column('Total', NUMERIC(precision=10, scale=2), table=<Invoice>, nullable=False), schema=None), 'InvoiceLine': Table('InvoiceLine', MetaData(), Column('InvoiceLineId', INTEGER(), table=<InvoiceLine>, primary_key=True, nullable=False), Column('InvoiceId', INTEGER(), ForeignKey('Invoice.InvoiceId'), table=<InvoiceLine>, nullable=False), Column('TrackId', INTEGER(), ForeignKey('Track.TrackId'), table=<InvoiceLine>, nullable=False), Column('UnitPrice', NUMERIC(precision=10, scale=2), table=<InvoiceLine>, nullable=False), Column('Quantity', INTEGER(), table=<InvoiceLine>, nullable=False), schema=None), 'Track': Table('Track', MetaData(), Column('TrackId', INTEGER(), table=<Track>, primary_key=True, nullable=False), Column('Name', NVARCHAR(length=200), table=<Track>, nullable=False), Column('AlbumId', INTEGER(), ForeignKey('Album.AlbumId'), table=<Track>), Column('MediaTypeId', INTEGER(), ForeignKey('MediaType.MediaTypeId'), table=<Track>, nullable=False), Column('GenreId', INTEGER(), ForeignKey('Genre.GenreId'), table=<Track>), Column('Composer', NVARCHAR(length=220), table=<Track>), Column('Milliseconds', INTEGER(), table=<Track>, nullable=False), Column('Bytes', INTEGER(), table=<Track>), Column('UnitPrice', NUMERIC(precision=10, scale=2), table=<Track>, nullable=False), schema=None), 'MediaType': Table('MediaType', MetaData(), Column('MediaTypeId', INTEGER(), table=<MediaType>, primary_key=True, nullable=False), Column('Name', NVARCHAR(length=120), table=<MediaType>), schema=None), 'Playlist': Table('Playlist', MetaData(), Column('PlaylistId', INTEGER(), table=<Playlist>, primary_key=True, nullable=False), Column('Name', NVARCHAR(length=120), table=<Playlist>), schema=None), 'PlaylistTrack': Table('PlaylistTrack', MetaData(), Column('PlaylistId', INTEGER(), ForeignKey('Playlist.PlaylistId'), table=<PlaylistTrack>, primary_key=True, nullable=False), Column('TrackId', INTEGER(), ForeignKey('Track.TrackId'), table=<PlaylistTrack>, primary_key=True, nullable=False), schema=None)})
Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, Track, MediaType, Playlist

In [326]:
for table_name in inspector.get_table_names():

    print(f"Table = {table_name}")
    
    print(f"Columns = ", end="")
    col_names_list = []
    for col in inspector.get_columns(table_name):
        col_names_list.append(col['name'])
    print(*col_names_list, sep=", ")
    
    print(f"Primary Keys = ", end="")
    pk_list = inspector.get_pk_constraint(table_name)
    pk_name_list = pk_list["constrained_columns"]
    print(*pk_name_list, sep=", ")

    fk_list = inspector.get_foreign_keys(table_name)
    if fk_list:
        print(f"Foreign Keys:")
        fk_name_list = []
        fk_reftbl_list = []
        fk_refcol_list = []
        
        for fk in fk_list:
            fk_name_list.append(*fk['constrained_columns'])
            fk_reftbl_list.append(fk['referred_table'])
            fk_refcol_list.append(*fk['referred_columns'])
            
        fk_info = zip(fk_name_list, fk_reftbl_list, fk_refcol_list)
        
        for n, t, c in fk_info:
            print(f"    {n} ---> {t}:{c}")

    print()

Table = Album
Columns = Title, ArtistId, AlbumId
Primary Keys = AlbumId
Foreign Keys:
    ArtistId ---> Artist:ArtistId

Table = Artist
Columns = Name, ArtistId
Primary Keys = ArtistId

Table = Customer
Columns = FirstName, LastName, Company, Address, City, State, Country, PostalCode, Phone, Fax, Email, SupportRepId, CustomerId
Primary Keys = CustomerId
Foreign Keys:
    SupportRepId ---> Employee:EmployeeId

Table = Employee
Columns = LastName, FirstName, Title, ReportsTo, BirthDate, HireDate, Address, City, State, Country, PostalCode, Phone, Fax, Email, EmployeeId
Primary Keys = EmployeeId
Foreign Keys:
    ReportsTo ---> Employee:EmployeeId

Table = Genre
Columns = Name, GenreId
Primary Keys = GenreId

Table = Invoice
Columns = CustomerId, InvoiceDate, BillingAddress, BillingCity, BillingState, BillingCountry, BillingPostalCode, Total, InvoiceId
Primary Keys = InvoiceId
Foreign Keys:
    CustomerId ---> Customer:CustomerId

Table = InvoiceLine
Columns = InvoiceId, TrackId, UnitPrice, Quantity, InvoiceLineId
Primary Keys = InvoiceLineId
Foreign Keys:
    TrackId ---> Track:TrackId
    InvoiceId ---> Invoice:InvoiceId

Table = MediaType
Columns = Name, MediaTypeId
Primary Keys = MediaTypeId

Table = Playlist
Columns = Name, PlaylistId
Primary Keys = PlaylistId

Table = PlaylistTrack
Columns = PlaylistId, TrackId
Primary Keys = PlaylistId, TrackId
Foreign Keys:
    TrackId ---> Track:TrackId
    PlaylistId ---> Playlist:PlaylistId

Table = Track
Columns = Name, AlbumId, MediaTypeId, GenreId, Composer, Milliseconds, Bytes, UnitPrice, TrackId
Primary Keys = TrackId
Foreign Keys:
    MediaTypeId ---> MediaType:MediaTypeId
    GenreId ---> Genre:GenreId
    AlbumId ---> Album:AlbumId

In [2]:
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session

Base = automap_base()
Base.prepare(autoload_with=engine)

print(*sorted(Base.classes.keys()), sep=", ")
print()
print(*sorted(Base.metadata.tables), sep=", ")



# insp = inspect(Base.classes.Album)
# print(insp.columns)
# dir(insp)
#dir(Base.classes.Album)
#print(inspect(Base))

Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, Track

Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track

In [92]:
Customers = Base.classes.Customer
session = Session(engine)
relations = inspect(Customers).relationships
for x in relations:
    print(x)

Customer.employee
Customer.invoice_collection

In [ ]:
Invoices = Base.classes.Invoice
session = Session(engine)
for z in session.query(Base.classes):
    pass

# relations = inspect(Invoices).relationships
# for x in relations:
#     print(x, x.direction)
    
# inspector = inspect(engine)   
# for tbl in inspector.get_table_names():
#     print(f"Table = {tbl}")
#     for col in inspector.get_columns(schema_name="main",table_name=tbl):
#         star = ""
#         if col['primary_key'] == 1:
#             star = "*"
#         print(f"{star}{col['name']}{star}", end = ", ")
#     print()
#     par = str(tbl) + "." + "relationships"
#     print(par)
#     relations = inspect(par)
#     for x in relations:
#         print(x, x.direction)
#     print("\n")

In [ ]:
#dir(Base.classes)
Albums = Base.classes.Album
# dir(Albums)
session = Session(engine)
u1 = session.query(Albums).limit(5).all()

relations = inspect(Albums).relationships.items()
for x in relations:
    direction = x[0]
    print(x[0],x[1])
    
# print(inspect(Albums).relationships.items())

# for relationship in inspect(Albums).relationships:
#     direction = relationship.direction
#     print(direction)
    
#print(relations)

# for x in relations:
#     for a in x:
#         print(x[0], a)
        

    
#dir(u1[0])
#print(u1)

# Studying reflection

In [27]:
for tbl in Base.metadata.tables.values():
    print(f"Table: {tbl.name}")
    print("Columns: ")
    for col in tbl.columns:
        print(f"   {col.name:18}", end="")
        if col.primary_key:
            print(f"*Primary Key*   ", end="")
        if col.foreign_keys:
            print(f"{col.foreign_keys}", end="")
        print()
    print()

# for table in Base.metadata.tables.values():
#     print(f"Table: {table.name}")
#     print("Columns: ", end="")
#     print(*table.columns.keys(), sep = ", ")
#     print("Primary Keys: ", end="")
#     print(*table.primary_key.columns.keys(), sep=", ")
#     print("Foreign Keys: ", end="")
#     print(*table.foreign_keys, sep=", ")
#     print()

Table: Album
Columns:
   AlbumId           *Primary Key*
   Title
   ArtistId          {ForeignKey('Artist.ArtistId')}

Table: Artist
Columns:
   ArtistId          *Primary Key*
   Name

Table: Customer
Columns:
   CustomerId        *Primary Key*
   FirstName
   LastName
   Company
   Address
   City
   State
   Country
   PostalCode
   Phone
   Fax
   Email
   SupportRepId      {ForeignKey('Employee.EmployeeId')}

Table: Employee
Columns:
   EmployeeId        *Primary Key*
   LastName
   FirstName
   Title
   ReportsTo         {ForeignKey('Employee.EmployeeId')}
   BirthDate
   HireDate
   Address
   City
   State
   Country
   PostalCode
   Phone
   Fax
   Email

Table: Genre
Columns:
   GenreId           *Primary Key*
   Name

Table: Invoice
Columns:
   InvoiceId         *Primary Key*
   CustomerId        {ForeignKey('Customer.CustomerId')}
   InvoiceDate
   BillingAddress
   BillingCity
   BillingState
   BillingCountry
   BillingPostalCode
   Total

Table: InvoiceLine
Columns:
   InvoiceLineId     *Primary Key*
   InvoiceId         {ForeignKey('Invoice.InvoiceId')}
   TrackId           {ForeignKey('Track.TrackId')}
   UnitPrice
   Quantity

Table: Track
Columns:
   TrackId           *Primary Key*
   Name
   AlbumId           {ForeignKey('Album.AlbumId')}
   MediaTypeId       {ForeignKey('MediaType.MediaTypeId')}
   GenreId           {ForeignKey('Genre.GenreId')}
   Composer
   Milliseconds
   Bytes
   UnitPrice

Table: MediaType
Columns:
   MediaTypeId       *Primary Key*
   Name

Table: Playlist
Columns:
   PlaylistId        *Primary Key*
   Name

Table: PlaylistTrack
Columns:
   PlaylistId        *Primary Key*   {ForeignKey('Playlist.PlaylistId')}
   TrackId           *Primary Key*   {ForeignKey('Track.TrackId')}

In [363]:
def table_info(table_name):
    table = Base.metadata.tables[table_name]
    print(f"Table: {table_name}")
    print(f"Columns: ")
    for col in table.columns:
        print(f"   {col.name:15}", end="")
        if col.primary_key:
            print(f"*Primary Key*   ", end="")
        if col.foreign_keys:
            print(f"{col.foreign_keys}", end="")
        print()
    print()

table_info("PlaylistTrack")
table_info("Track")

Table: PlaylistTrack
Columns:
   PlaylistId     *Primary Key*   {ForeignKey('Playlist.PlaylistId')}
   TrackId        *Primary Key*   {ForeignKey('Track.TrackId')}

Table: Track
Columns:
   TrackId        *Primary Key*
   Name
   AlbumId        {ForeignKey('Album.AlbumId')}
   MediaTypeId    {ForeignKey('MediaType.MediaTypeId')}
   GenreId        {ForeignKey('Genre.GenreId')}
   Composer
   Milliseconds
   Bytes
   UnitPrice

In [350]:
Base.metadata.tables["Album"]

Table('Album', MetaData(), Column('AlbumId', INTEGER(), table=<Album>, primary_key=True, nullable=False), Column('Title', NVARCHAR(length=160), table=<Album>, nullable=False), Column('ArtistId', INTEGER(), ForeignKey('Artist.ArtistId'), table=<Album>, nullable=False), schema=None)

In [46]:
for x in Base.classes:
    print(f"Table: {x.__table__.name}")
    print("Columns: ", end="")
    print(*x.__table__.columns.keys(), sep=", ")
    print("Primary Key: ", end="")
    print(*x.__table__.primary_key.columns.keys())
    print("Foreign Keys: ", end="")
    print(*x.__table__.foreign_keys, sep=", ")
    print()

Table: Album
Columns: AlbumId, Title, ArtistId
Primary Key: AlbumId
Foreign Keys: ForeignKey('Artist.ArtistId')

Table: Artist
Columns: ArtistId, Name
Primary Key: ArtistId
Foreign Keys:

Table: Customer
Columns: CustomerId, FirstName, LastName, Company, Address, City, State, Country, PostalCode, Phone, Fax, Email, SupportRepId
Primary Key: CustomerId
Foreign Keys: ForeignKey('Employee.EmployeeId')

Table: Employee
Columns: EmployeeId, LastName, FirstName, Title, ReportsTo, BirthDate, HireDate, Address, City, State, Country, PostalCode, Phone, Fax, Email
Primary Key: EmployeeId
Foreign Keys: ForeignKey('Employee.EmployeeId')

Table: Genre
Columns: GenreId, Name
Primary Key: GenreId
Foreign Keys:

Table: Invoice
Columns: InvoiceId, CustomerId, InvoiceDate, BillingAddress, BillingCity, BillingState, BillingCountry, BillingPostalCode, Total
Primary Key: InvoiceId
Foreign Keys: ForeignKey('Customer.CustomerId')

Table: InvoiceLine
Columns: InvoiceLineId, InvoiceId, TrackId, UnitPrice, Quantity
Primary Key: InvoiceLineId
Foreign Keys: ForeignKey('Invoice.InvoiceId'), ForeignKey('Track.TrackId')

Table: Track
Columns: TrackId, Name, AlbumId, MediaTypeId, GenreId, Composer, Milliseconds, Bytes, UnitPrice
Primary Key: TrackId
Foreign Keys: ForeignKey('Album.AlbumId'), ForeignKey('Genre.GenreId'), ForeignKey('MediaType.MediaTypeId')

Table: MediaType
Columns: MediaTypeId, Name
Primary Key: MediaTypeId
Foreign Keys:

Table: Playlist
Columns: PlaylistId, Name
Primary Key: PlaylistId
Foreign Keys:

In [388]:
Album = Base.classes.Album
Artist = Base.classes.Artist
Customer = Base.classes.Customer
Employee = Base.classes.Employee
Genre = Base.classes.Genre
Invoice = Base.classes.Invoice
InvoiceLine = Base.classes.InvoiceLine
MediaType = Base.classes.MediaType
Playlist = Base.classes.Playlist
Track = Base.classes.Track
playlisttrack = Base.metadata.tables['PlaylistTrack']
Base.classes.__table__.PlaylistTrack
playlisttrack
Playlist

AttributeError: __table__

In [446]:
import pandas as pd

session1 = Session(engine)

albums = pd.read_sql_table(table_name='Album', con=engine)

print(albums)

     AlbumId                                              Title  ArtistId
0          1              For Those About To Rock We Salute You         1
1          2                                  Balls to the Wall         2
2          3                                  Restless and Wild         2
3          4                                  Let There Be Rock         1
4          5                                           Big Ones         3
..       ...                                                ...       ...
342      343                             Respighi:Pines of Rome       226
343      344  Schubert: The Late String Quartets & String Qu...       272
344      345                                Monteverdi: L'Orfeo       273
345      346                              Mozart: Chamber Music       274
346      347  Koyaanisqatsi (Soundtrack from the Motion Pict...       275

[347 rows x 3 columns]

In [448]:
artists = pd.read_sql_table(table_name='Artist', con=engine)

print(artists.head())

#session.close()

   ArtistId               Name
0         1              AC/DC
1         2             Accept
2         3          Aerosmith
3         4  Alanis Morissette
4         5    Alice In Chains

In [457]:
df1 = pd.merge(left = albums, right = artists, how = 'inner')
print(df1.head(5))
print(df1.shape)

   AlbumId                                  Title  ArtistId       Name
0        1  For Those About To Rock We Salute You         1      AC/DC
1        4                      Let There Be Rock         1      AC/DC
2        2                      Balls to the Wall         2     Accept
3        3                      Restless and Wild         2     Accept
4        5                               Big Ones         3  Aerosmith
(347, 4)

In [461]:
df1.drop('ArtistId', axis=1).rename(columns = {'Name':'Artist'}).head()

   AlbumId                                  Title     Artist
0        1  For Those About To Rock We Salute You      AC/DC
1        4                      Let There Be Rock      AC/DC
2        2                      Balls to the Wall     Accept
3        3                      Restless and Wild     Accept
4        5                               Big Ones  Aerosmith

In [483]:
df2 = (pd
     .merge(albums, artists)
     .drop('ArtistId', axis=1)
     .rename(columns = {'Name':'Artist'}))
print(df2.head())
print(df2.shape)

   AlbumId                                  Title     Artist
0        1  For Those About To Rock We Salute You      AC/DC
1        4                      Let There Be Rock      AC/DC
2        2                      Balls to the Wall     Accept
3        3                      Restless and Wild     Accept
4        5                               Big Ones  Aerosmith
(347, 3)

In [445]:
tracks = pd.read_sql_table(table_name='Track', con=engine)

print(tracks.head())
print(tracks.shape)

   TrackId                                     Name  AlbumId  MediaTypeId  \
0        1  For Those About To Rock (We Salute You)        1            1
1        2                        Balls to the Wall        2            2
2        3                          Fast As a Shark        3            2
3        4                        Restless and Wild        3            2
4        5                     Princess of the Dawn        3            2

   GenreId                                           Composer  Milliseconds  \
0        1          Angus Young, Malcolm Young, Brian Johnson        343719
1        1                                               None        342562
2        1  F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...        230619
3        1  F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...        252051
4        1                         Deaffy & R.A. Smith-Diesel        375418

      Bytes  UnitPrice
0  11170334       0.99
1   5510424       0.99
2   3990994       0.99
3   4331779       0.99
4   6290521       0.99
(3503, 9)

In [513]:
from tabulate import tabulate

df3 = (pd
     .merge(df2, tracks)
     .drop(['AlbumId','TrackId',
            'Bytes','UnitPrice',
            'MediaTypeId','GenreId'], axis=1)
     .rename(columns = {'Name':'Track', 
                        'Title':'Album',
                        'Milliseconds':'Length(ms)'}))

print(df3.shape)
df3.head().style.format(thousands=",")
#display(df3.head())
#print(tabulate(df3.head(), headers = 'keys', tablefmt = 'psql'))

(3503, 5)

In [400]:
session1 = Session(engine)

df = pd.read_sql(
    sql=session1.query(Album).statement,
    con=engine
)

df = pd.read_sql_table(table_name='Album', con=engine)

print(df)

session.close()

     AlbumId                                              Title  ArtistId
0          1              For Those About To Rock We Salute You         1
1          2                                  Balls to the Wall         2
2          3                                  Restless and Wild         2
3          4                                  Let There Be Rock         1
4          5                                           Big Ones         3
..       ...                                                ...       ...
342      343                             Respighi:Pines of Rome       226
343      344  Schubert: The Late String Quartets & String Qu...       272
344      345                                Monteverdi: L'Orfeo       273
345      346                              Mozart: Chamber Music       274
346      347  Koyaanisqatsi (Soundtrack from the Motion Pict...       275

[347 rows x 3 columns]