In [1]:
from sqlalchemy import create_engine, inspect

engine = create_engine(r"sqlite:///C:/Users/blinklet/Documents/chinook-database/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite")
inspector = inspect(engine)

from pprint import pprint

# pprint(inspector.get_table_names())

# Columns in table "Album"
# pprint(inspector.get_columns("Album"))
# print()

# Primary Key for table "Album"
# pprint(inspector.get_pk_constraint("Album"))

In [ ]:
print(*Base.metadata.tables, sep=", ")

pprint(Base.metadata.tables)

print(*Base.classes.keys(), sep=", ")

In [ ]:
for table_name in inspector.get_table_names():

    print(f"Table = {table_name}")
    
    print(f"Columns = ", end="")
    col_names_list = []
    for col in inspector.get_columns(table_name):
        col_names_list.append(col['name'])
    print(*col_names_list, sep=", ")
    
    print(f"Primary Keys = ", end="")
    pk_list = inspector.get_pk_constraint(table_name)
    pk_name_list = pk_list["constrained_columns"]
    print(*pk_name_list, sep=", ")

    fk_list = inspector.get_foreign_keys(table_name)
    if fk_list:
        print(f"Foreign Keys:")
        fk_name_list = []
        fk_reftbl_list = []
        fk_refcol_list = []
        
        for fk in fk_list:
            fk_name_list.append(*fk['constrained_columns'])
            fk_reftbl_list.append(fk['referred_table'])
            fk_refcol_list.append(*fk['referred_columns'])
            
        fk_info = zip(fk_name_list, fk_reftbl_list, fk_refcol_list)
        
        for n, t, c in fk_info:
            print(f"    {n} ---> {t}:{c}")

    print()

In [2]:
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session

Base = automap_base()
Base.prepare(autoload_with=engine)

print(*sorted(Base.classes.keys()), sep=", ")
# print()
print(*sorted(Base.metadata.tables), sep=", ")



# insp = inspect(Base.classes.Album)
# print(insp.columns)
# dir(insp)
#dir(Base.classes.Album)
#print(inspect(Base))

Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, Track
Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track

In [158]:

Album = Base.classes.Album

session = Session(engine)
u1 = session.query(Albums).limit(5).all()

# relations = inspect(Albums).relationships.items()
# for x in relations:
#     direction = x[0]
#     print(x[0],x[1])
    
print(inspect(Track).relationships.items())
print()
print()

for relationship in inspect(Track).relationships:
    print(relationship)
    print("Direction:", relationship.direction)
    print("Joined Table:", relationship.target)
    print()

# for x in relations:
#     for a in x:
#         print(x[0], a)
        

    
#dir(u1[0])
#print(u1)

[('genre', <RelationshipProperty at 0x1d64a64ccd0; genre>), ('album', <RelationshipProperty at 0x1d64a64c6d0; album>), ('mediatype', <RelationshipProperty at 0x1d64a64d0d0; mediatype>), ('playlist_collection', <RelationshipProperty at 0x1d64a64d1d0; playlist_collection>), ('invoiceline_collection', <RelationshipProperty at 0x1d64a61edd0; invoiceline_collection>)]


Track.genre
Direction: symbol('MANYTOONE')
Joined Table: Genre

Track.album
Direction: symbol('MANYTOONE')
Joined Table: Album

Track.mediatype
Direction: symbol('MANYTOONE')
Joined Table: MediaType

Track.playlist_collection
Direction: symbol('MANYTOMANY')
Joined Table: Playlist

Track.invoiceline_collection
Direction: symbol('ONETOMANY')
Joined Table: InvoiceLine

# Studying reflection

In [ ]:
for tbl in Base.metadata.tables.values():
    print(f"Table: {tbl.name}")
    print("Columns: ")
    for col in tbl.columns:
        print(f"   {col.name:18}", end="")
        if col.primary_key:
            print(f"*Primary Key*   ", end="")
        if col.foreign_keys:
            print(f"{col.foreign_keys}", end="")
        print()
    print()

# for table in Base.metadata.tables.values():
#     print(f"Table: {table.name}")
#     print("Columns: ", end="")
#     print(*table.columns.keys(), sep = ", ")
#     print("Primary Keys: ", end="")
#     print(*table.primary_key.columns.keys(), sep=", ")
#     print("Foreign Keys: ", end="")
#     print(*table.foreign_keys, sep=", ")
#     print()

In [ ]:
def table_info(table_name):
    table = Base.metadata.tables[table_name]
    print(f"Table: {table_name}")
    print(f"Columns: ")
    for col in table.columns:
        print(f"   {col.name:15}", end="")
        if col.primary_key:
            print(f"*Primary Key*   ", end="")
        if col.foreign_keys:
            print(f"{col.foreign_keys}", end="")
        print()
    print()

table_info("PlaylistTrack")
table_info("Track")

In [ ]:
Base.metadata.tables["Album"]

In [48]:
for x in Base.classes:
    print(f"Table: {x.__table__.name}")
    print("Columns: ", end="")
    print(*x.__table__.columns.keys(), sep=", ")
    print("Primary Key: ", end="")
    print(*x.__table__.primary_key.columns.keys())
    print("Foreign Keys: ", end="")
    print(*x.__table__.foreign_keys, sep=", ")
    print()

Table: Album
Columns: AlbumId, Title, ArtistId
Primary Key: AlbumId
Foreign Keys: ForeignKey('Artist.ArtistId')

Table: Artist
Columns: ArtistId, Name
Primary Key: ArtistId
Foreign Keys:

Table: Customer
Columns: CustomerId, FirstName, LastName, Company, Address, City, State, Country, PostalCode, Phone, Fax, Email, SupportRepId
Primary Key: CustomerId
Foreign Keys: ForeignKey('Employee.EmployeeId')

Table: Employee
Columns: EmployeeId, LastName, FirstName, Title, ReportsTo, BirthDate, HireDate, Address, City, State, Country, PostalCode, Phone, Fax, Email
Primary Key: EmployeeId
Foreign Keys: ForeignKey('Employee.EmployeeId')

Table: Genre
Columns: GenreId, Name
Primary Key: GenreId
Foreign Keys:

Table: Invoice
Columns: InvoiceId, CustomerId, InvoiceDate, BillingAddress, BillingCity, BillingState, BillingCountry, BillingPostalCode, Total
Primary Key: InvoiceId
Foreign Keys: ForeignKey('Customer.CustomerId')

Table: InvoiceLine
Columns: InvoiceLineId, InvoiceId, TrackId, UnitPrice, Quantity
Primary Key: InvoiceLineId
Foreign Keys: ForeignKey('Invoice.InvoiceId'), ForeignKey('Track.TrackId')

Table: Track
Columns: TrackId, Name, AlbumId, MediaTypeId, GenreId, Composer, Milliseconds, Bytes, UnitPrice
Primary Key: TrackId
Foreign Keys: ForeignKey('Genre.GenreId'), ForeignKey('MediaType.MediaTypeId'), ForeignKey('Album.AlbumId')

Table: MediaType
Columns: MediaTypeId, Name
Primary Key: MediaTypeId
Foreign Keys:

Table: Playlist
Columns: PlaylistId, Name
Primary Key: PlaylistId
Foreign Keys:

In [3]:
Album = Base.classes.Album
Artist = Base.classes.Artist
Customer = Base.classes.Customer
Employee = Base.classes.Employee
Genre = Base.classes.Genre
Invoice = Base.classes.Invoice
InvoiceLine = Base.classes.InvoiceLine
MediaType = Base.classes.MediaType
Playlist = Base.classes.Playlist
Track = Base.classes.Track
playlisttrack = Base.metadata.tables['PlaylistTrack']

In [4]:
import pandas as pd

session1 = Session(engine)

albums = pd.read_sql_table(table_name='Album', con=engine)

print(albums)

     AlbumId                                              Title  ArtistId
0          1              For Those About To Rock We Salute You         1
1          2                                  Balls to the Wall         2
2          3                                  Restless and Wild         2
3          4                                  Let There Be Rock         1
4          5                                           Big Ones         3
..       ...                                                ...       ...
342      343                             Respighi:Pines of Rome       226
343      344  Schubert: The Late String Quartets & String Qu...       272
344      345                                Monteverdi: L'Orfeo       273
345      346                              Mozart: Chamber Music       274
346      347  Koyaanisqatsi (Soundtrack from the Motion Pict...       275

[347 rows x 3 columns]

In [109]:
artists = pd.read_sql_table(table_name='Artist', con=engine)

print(artists.head())

#session.close()

   ArtistId               Name
0         1              AC/DC
1         2             Accept
2         3          Aerosmith
3         4  Alanis Morissette
4         5    Alice In Chains

In [110]:
df1 = pd.merge(left = albums, right = artists, how = 'inner')
print(df1.head(5))
print(df1.shape)

   AlbumId                                  Title  ArtistId       Name
0        1  For Those About To Rock We Salute You         1      AC/DC
1        4                      Let There Be Rock         1      AC/DC
2        2                      Balls to the Wall         2     Accept
3        3                      Restless and Wild         2     Accept
4        5                               Big Ones         3  Aerosmith
(347, 4)

In [111]:
df1.drop('ArtistId', axis=1).rename(columns = {'Name':'Artist'}).head()

   AlbumId                                  Title     Artist
0        1  For Those About To Rock We Salute You      AC/DC
1        4                      Let There Be Rock      AC/DC
2        2                      Balls to the Wall     Accept
3        3                      Restless and Wild     Accept
4        5                               Big Ones  Aerosmith

In [112]:
df2 = (pd
     .merge(albums, artists)
     .drop('ArtistId', axis=1)
     .rename(columns = {'Name':'Artist'}))
print(df2.head())
print(df2.shape)

   AlbumId                                  Title     Artist
0        1  For Those About To Rock We Salute You      AC/DC
1        4                      Let There Be Rock      AC/DC
2        2                      Balls to the Wall     Accept
3        3                      Restless and Wild     Accept
4        5                               Big Ones  Aerosmith
(347, 3)

In [113]:
tracks = pd.read_sql_table(table_name='Track', con=engine)

print(tracks.head())
print(tracks.shape)

   TrackId                                     Name  AlbumId  MediaTypeId  \
0        1  For Those About To Rock (We Salute You)        1            1
1        2                        Balls to the Wall        2            2
2        3                          Fast As a Shark        3            2
3        4                        Restless and Wild        3            2
4        5                     Princess of the Dawn        3            2

   GenreId                                           Composer  Milliseconds  \
0        1          Angus Young, Malcolm Young, Brian Johnson        343719
1        1                                               None        342562
2        1  F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...        230619
3        1  F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...        252051
4        1                         Deaffy & R.A. Smith-Diesel        375418

      Bytes  UnitPrice
0  11170334       0.99
1   5510424       0.99
2   3990994       0.99
3   4331779       0.99
4   6290521       0.99
(3503, 9)

In [114]:
df3 = (pd
     .merge(df2, tracks)
     .drop(['AlbumId','TrackId',
            'Bytes','UnitPrice',
            'MediaTypeId','GenreId'], axis=1)
     .rename(columns = {'Name':'Track', 
                        'Title':'Album',
                        'Milliseconds':'Length(ms)'}))

print(df3.shape)
df3.head().style.format(thousands=",")

(3503, 5)

In [ ]:
session1.close()

In [107]:
from sqlalchemy import func

session1 = Session(engine)

# print(f"Count rows in Album table")
# x = session1.query(func.count(Album.AlbumId)).scalar()
# print(f"Rows in Album:  {x}")

# print(f"Get data in Album table as generator")
# query = session1.query(Album.AlbumId,Album.Title,Album.ArtistId)
# print([x for x in query])

# print(f"Get data in Album table enturely")
# query = session1.query(Album.AlbumId,Album.Title,Album.ArtistId).all()
# print(query)

# print(f"Get inner join of tables Album, Track, and Artist")
# q = (session1.query(Album, Track, Artist)
#      .join(Track, Album.AlbumId==Track.AlbumId)
#      .join(Artist, Album.ArtistId==Artist.ArtistId)
#     )

print(f"Get inner join of tables Album, Track, and Artist")
q = (session1.query(Album, Track, Artist)
     .join(Track)
     .join(Artist)
    )

df4 = pd.read_sql(sql=q.statement, con=engine)
#print(df4)
#display(df4)
#df4.head().style
display(df4.head())
session1.close()

Get inner join of tables Album, Track, and Artist

,AlbumId,Title,ArtistId,TrackId,Name,AlbumId_1,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice,ArtistId_1,Name_1
0,1,For Those About To Rock We Salute You,1,1,For Those About To Rock (We Salute You),1,1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99,1,AC/DC
1,2,Balls to the Wall,2,2,Balls to the Wall,2,2,1,None,342562,5510424,0.99,2,Accept
2,3,Restless and Wild,2,3,Fast As a Shark,3,2,1,"F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...",230619,3990994,0.99,2,Accept
3,3,Restless and Wild,2,4,Restless and Wild,3,2,1,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",252051,4331779,0.99,2,Accept
4,3,Restless and Wild,2,5,Princess of the Dawn,3,2,1,Deaffy & R.A. Smith-Diesel,375418,6290521,0.99,2,Accept

In [108]:
session1 = Session(engine)

print(f"Get inner join of tables Album, Track, and Artist")
q = (session1.query(Album, Track, Artist)
     .join(Track)
     .join(Artist)
    )

df4 = pd.read_sql(sql=q.statement, con=engine)

print(df4.shape)
display(df4.head())

session1.close()

Get inner join of tables Album, Track, and Artist
(3503, 14)

,AlbumId,Title,ArtistId,TrackId,Name,AlbumId_1,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice,ArtistId_1,Name_1
0,1,For Those About To Rock We Salute You,1,1,For Those About To Rock (We Salute You),1,1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99,1,AC/DC
1,2,Balls to the Wall,2,2,Balls to the Wall,2,2,1,None,342562,5510424,0.99,2,Accept
2,3,Restless and Wild,2,3,Fast As a Shark,3,2,1,"F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...",230619,3990994,0.99,2,Accept
3,3,Restless and Wild,2,4,Restless and Wild,3,2,1,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",252051,4331779,0.99,2,Accept
4,3,Restless and Wild,2,5,Princess of the Dawn,3,2,1,Deaffy & R.A. Smith-Diesel,375418,6290521,0.99,2,Accept

In [200]:
session1 = Session(engine)

print(f"Get inner join of tables Album, Track, and Artist")
q = (session1
     .query(Album.Title.label("Album"),
            Artist.Name.label("Artist"),
            Track.Name.label("Track"),
            Track.Composer, 
            Track.Milliseconds.label("Length"))
     .join(Track)
     .join(Artist)
    )

df4 = pd.read_sql(sql=q.statement, con=engine)

print(df4.shape)
display(df4.head().style.format(thousands=","))

Get inner join of tables Album, Track, and Artist
(3503, 5)

In [408]:
q = (session1
     .query(Album.Title.label("Album"),
            Artist.Name.label("Artist"),
            Track.Name.label("Track"),
            Track.Composer, 
            Track.Milliseconds.label("Length"),
            Track.UnitPrice)
     .join(Track)
     .join(Artist)
    )

df5 = pd.read_sql(sql=q.statement, con=engine)

print(f"Longest track: {df5.Length.max()}")
x=df5[['Album','Artist','Track','Length']].nlargest(1, columns=['Length'])
display(x.style.format(thousands=","))

print(f"Shortest track: {df5.Length.min()}")
print(f"How many blanks in Composer column?: {df5.Composer.isnull().sum()}")
print(f"Track length mean: {df5.Length.mean()}")
print(f"Track length median: {df5.Length.median()}")
print(f"Artist mode: {df5.Artist.mode()[0]}")
print(f"Correlation between Length and UnitPrice: {df5['Length'].corr(df5['UnitPrice'])}")
print(f"Track length standard deviation: {df5.Length.std()}")

Longest track: 5286953

Shortest track: 1071
How many blanks in Composer column?: 978
Track length mean: 393599.2121039109
Track length median: 255634.0
Artist mode: Iron Maiden
Correlation between Length and UnitPrice: 0.9317964749112717
Track length standard deviation: 535005.4352066235

In [373]:
print(f"Longest track from Pandas dataframe:")
x=df5[['Album','Artist','Track','Length']].nlargest(1, columns=['Length'])
print(x)
display(x.style.format(thousands=","))

Longest track from Pandas dataframe:
                               Album                Artist  \
2819  Battlestar Galactica, Season 3  Battlestar Galactica

                       Track   Length
2819  Occupation / Precipice  5286953

In [405]:
print(f"Longest track from SQLAlchemy query:")
q = (session1
     .query(Track.Milliseconds)
     .order_by(Track.Milliseconds.desc()).limit(1))

length = next(iter(q))[0]
print(f"Longest track length: {length}")

df6 = pd.read_sql(sql=q.statement, con=engine)

display(df6.style.format(thousands=","))

Longest track from SQLAlchemy query:
Longest track length: 5286953

In [406]:
print(f"Shortest track from SQLAlchemy query:")
q = (session1
     .query(Track.Milliseconds)
     .order_by(Track.Milliseconds).limit(1))

length = next(iter(q))[0]
print(f"Shortest track length: {length}")

Shortest track from SQLAlchemy query:
Shortest track length: 1071

In [ ]:
q = (session1
     .query(Album.Title.label("Album"),
            Artist.Name.label("Artist"),
            Track.Name.label("Track"), 
            Track.Milliseconds.label("Length"))
     .join(Track)
     .join(Artist)
     .order_by(Track.Milliseconds).limit(1))

df = pd.read_sql(sql=q.statement, con=engine)

df.style.format(thousands=",")

In [317]:
print(f"Track length standard deviation for a sample of artists:")
print(f"{df5.groupby(['Artist'])['Length'].std().dropna().sample(3)}")
print()
print(f"Longest tracks, with artist name:")
print(f"{df5[['Track','Length','Artist']].nlargest(3, 'Length')}")
print()
print(f"Number of tracks per artist")
print(f"{df5.groupby(['Artist'])['Track'].count().sample(3)}")
print()
print(f"Shortest track by Artist=Guns N' Roses: ")
gnr = df5.loc[df5['Artist'] == "Guns N' Roses"]
print(gnr[['Track','Length']].nsmallest(3, 'Length'))

Track length standard deviation for a sample of artists:
Artist
Soundgarden        52355.089687
David Coverdale    91406.913978
Jimi Hendrix       56023.932800
Name: Length, dtype: float64

Longest tracks, with artist name:
                            Track   Length                          Artist
2819       Occupation / Precipice  5286953            Battlestar Galactica
3223      Through a Looking Glass  5088838                            Lost
3243  Greetings from Earth, Pt. 1  2960293  Battlestar Galactica (Classic)

Number of tracks per artist
Artist
Leonard Bernstein & New York Philharmonic     1
Body Count                                   17
Cidade Negra                                 31
Name: Track, dtype: int64

Shortest track by Artist=Guns N' Roses:
                    Track  Length
1186             My World   84532
1161        Perfect Crime  143637
1162  You Ain't the First  156268

In [170]:
session1 = Session(engine)

print(f"Album table relationships")
print()
for relationship in inspect(Album).relationships:
    print(f"Reletionship: {relationship}")
    print(f"Direction:    {relationship.direction}")
    print(f"Joined Table: {relationship.target}")
    print()

    
first_album = session1.query(Album).first()

print(f"Album:  {first_album.Title}")
print(f"Artist: {first_album.artist.Name}")
print(f"Tracks:")
for t in first_album.track_collection:
    print(f"    {t.Name}")

session1.close()

Album table relationships

Reletionship: Album.artist
Direction:    symbol('MANYTOONE')
Joined Table: Artist

Reletionship: Album.track_collection
Direction:    symbol('ONETOMANY')
Joined Table: Track

Album:  For Those About To Rock We Salute You
Artist: AC/DC
Tracks:
    For Those About To Rock (We Salute You)
    Put The Finger On You
    Let's Get It Up
    Inject The Venom
    Snowballed
    Evil Walks
    C.O.D.
    Breaking The Rules
    Night Of The Long Knives
    Spellbound

In [179]:
df5.dtypes
df5[['Artist', 'Album']].head()

   Artist                                  Album
0   AC/DC  For Those About To Rock We Salute You
1  Accept                      Balls to the Wall
2  Accept                      Restless and Wild
3  Accept                      Restless and Wild
4  Accept                      Restless and Wild

In [434]:
import pandas as pd

session1 = Session(engine)

albums = pd.read_sql_table(table_name='Album', con=engine)
artists = pd.read_sql_table(table_name='Artist', con=engine)
tracks = pd.read_sql_table(table_name='Track', con=engine)

session1.close()

df1 = (pd
     .merge(albums, artists)
     .rename(columns = {'Name':'Artist'}))

data = (pd
     .merge(df1, tracks)
     .rename(columns = {'Name':'Track', 
                        'Title':'Album',
                        'Milliseconds':'Length'}))

print(f"Longest track: {data.Length.max()}")
print(f"Shortest track: {data.Length.min()}")
print(f"How many blanks in Composer column?: "
      f"{data.Composer.isnull().sum()}")
print(f"Track length mean: {data.Length.mean()}")
print(f"Track length median: {data.Length.median()}")
print(f"Artist mode: {data.Artist.mode()[0]}")
print(f"Correlation between Length and UnitPrice: "
      f"{data['Length'].corr(data['UnitPrice'])}")
print(f"Track length standard deviation: "
      f"{data.Length.std()}")

Longest track: 5286953
Shortest track: 1071
How many blanks in Composer column?: 978
Track length mean: 393599.2121039109
Track length median: 255634.0
Artist mode: Iron Maiden
Correlation between Length and UnitPrice: 0.9317964749112725
Track length standard deviation: 535005.4352066235

In [491]:
print(f"Track length standard deviation for a sample of artists:")
print(tabulate(
        data.groupby(['Artist'])['Length']
        .std()
        .dropna()
        .sample(3)
        .to_frame(), 
        headers = ['Artist','Track Length\nStd Dev'], 
        tablefmt="grid"))
print()
print(f"Longest tracks, with artist name:")
print(tabulate(
        data[['Track','Length','Artist']]
        .nlargest(3, 'Length'), 
        headers="keys", 
        tablefmt='grid', 
        showindex=False))
print()
print(f"Number of tracks per artist:")
print(tabulate(
        data
        .groupby('Artist')['Track']
        .count()
        .sample(3)
        .to_frame(), 
        headers = ['Artist','# Tracks'], 
        tablefmt="grid"))
print()
print(f"Shortest track by Artist=Guns N' Roses: ")
gnr = data.loc[df5['Artist'] == "Guns N' Roses"]
gnr_shortest = gnr[['Track','Length']].nsmallest(3, 'Length')
print(tabulate(
        gnr_shortest, 
        headers="keys", 
        tablefmt='grid', 
        showindex=False))

Track length standard deviation for a sample of artists:
+--------------------+----------------+
| Artist             |   Track Length |
|                    |        Std Dev |
+====================+================+
| Vinícius De Moraes |        87110.6 |
+--------------------+----------------+
| Gene Krupa         |        46111.3 |
+--------------------+----------------+
| Marcos Valle       |        44225.8 |
+--------------------+----------------+

Longest tracks, with artist name:
+-----------------------------+----------+--------------------------------+
| Track                       |   Length | Artist                         |
+=============================+==========+================================+
| Occupation / Precipice      |  5286953 | Battlestar Galactica           |
+-----------------------------+----------+--------------------------------+
| Through a Looking Glass     |  5088838 | Lost                           |
+-----------------------------+----------+--------------------------------+
| Greetings from Earth, Pt. 1 |  2960293 | Battlestar Galactica (Classic) |
+-----------------------------+----------+--------------------------------+

Number of tracks per artist:
+---------------+------------+
| Artist        |   # Tracks |
+===============+============+
| Planet Hemp   |         16 |
+---------------+------------+
| Guns N' Roses |         42 |
+---------------+------------+
| Deep Purple   |         92 |
+---------------+------------+

Shortest track by Artist=Guns N' Roses:
+----------------+----------+
| Track          |   Length |
+================+==========+
| Atrás da Porta |   166608 |
+----------------+----------+
| Casa no Campo  |   170788 |
+----------------+----------+
| Fascinação     |   180793 |
+----------------+----------+

In [557]:
session1 = Session(engine)
    
q = (session1
        .query(Track.Milliseconds)
        .order_by(Track.Milliseconds)
        .first()
    )

length = (iter(q))
# length = next(q)
print(type(q))
print(f"Shortest track length: {q}")

<class 'sqlalchemy.engine.row.Row'>
Shortest track length: (1071,)

In [590]:

session1 = Session(engine)
    
length = (session1
            .query(func.max(Track.Milliseconds))
            .scalar()
         )

print(f"Longest track length: {length}")

Longest track length: 5286953

In [511]:
# Insane print statement

with Session(engine) as session2:
    print("Shortest track length: ", 
          next(iter(session2
                    .query(Track.Milliseconds)
                    .order_by(Track.Milliseconds)
                    .limit(1)))[0])

Shortest track length:  1071

In [591]:
session1 = Session(engine)
    
length = (session1
            .query(func.min(Track.Milliseconds))
            .scalar()
         )

print(f"Shortest track length: {length}")

Shortest track length: 1071

In [571]:
q = q = (session1
        .query(Track.Composer)
        .first()
    )

composer = next(iter(q))
print(composer)
#print(f"How many blanks in Composer column?: {df5.Length.isnull().sum()}")

Angus Young, Malcolm Young, Brian Johnson

In [655]:
#https://docs.sqlalchemy.org/en/20/tutorial/data_select.html
#https://docs.sqlalchemy.org/en/20/orm/queryguide/select.html

from sqlalchemy import select
session1 = Session(engine)

stmt = select(Album)
print(stmt)

x = pd.read_sql(stmt, con=engine)
display(x)

rows = session1.execute(stmt).all()

for row in rows:    
    print(row.Album.AlbumId)


# print(f"Album:  {row.Title}")
# print(f"Artist: {row.artist.Name}")
# print(f"Tracks:")
# for t in row.track_collection:
#     print(f"    {t.Name}")

SELECT "Album"."AlbumId", "Album"."Title", "Album"."ArtistId"
FROM "Album"

     AlbumId                                              Title  ArtistId
0          1              For Those About To Rock We Salute You         1
1          2                                  Balls to the Wall         2
2          3                                  Restless and Wild         2
3          4                                  Let There Be Rock         1
4          5                                           Big Ones         3
..       ...                                                ...       ...
342      343                             Respighi:Pines of Rome       226
343      344  Schubert: The Late String Quartets & String Qu...       272
344      345                                Monteverdi: L'Orfeo       273
345      346                              Mozart: Chamber Music       274
346      347  Koyaanisqatsi (Soundtrack from the Motion Pict...       275

[347 rows x 3 columns]

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347