In [1]:
from sqlalchemy import create_engine, inspect

engine = create_engine(r"sqlite:///C:/Users/blinklet/Documents/chinook-database/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite")
inspector = inspect(engine)

from pprint import pprint

# pprint(inspector.get_table_names())

# Columns in table "Album"
# pprint(inspector.get_columns("Album"))
# print()

# Primary Key for table "Album"
# pprint(inspector.get_pk_constraint("Album"))

In [ ]:
print(*Base.metadata.tables, sep=", ")

pprint(Base.metadata.tables)

print(*Base.classes.keys(), sep=", ")

In [ ]:
for table_name in inspector.get_table_names():

    print(f"Table = {table_name}")
    
    print(f"Columns = ", end="")
    col_names_list = []
    for col in inspector.get_columns(table_name):
        col_names_list.append(col['name'])
    print(*col_names_list, sep=", ")
    
    print(f"Primary Keys = ", end="")
    pk_list = inspector.get_pk_constraint(table_name)
    pk_name_list = pk_list["constrained_columns"]
    print(*pk_name_list, sep=", ")

    fk_list = inspector.get_foreign_keys(table_name)
    if fk_list:
        print(f"Foreign Keys:")
        fk_name_list = []
        fk_reftbl_list = []
        fk_refcol_list = []
        
        for fk in fk_list:
            fk_name_list.append(*fk['constrained_columns'])
            fk_reftbl_list.append(fk['referred_table'])
            fk_refcol_list.append(*fk['referred_columns'])
            
        fk_info = zip(fk_name_list, fk_reftbl_list, fk_refcol_list)
        
        for n, t, c in fk_info:
            print(f"    {n} ---> {t}:{c}")

    print()

In [2]:
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session

Base = automap_base()
Base.prepare(autoload_with=engine)

print(*sorted(Base.classes.keys()), sep=", ")
# print()
print(*sorted(Base.metadata.tables), sep=", ")



# insp = inspect(Base.classes.Album)
# print(insp.columns)
# dir(insp)
#dir(Base.classes.Album)
#print(inspect(Base))

Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, Track
Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track

In [158]:

Album = Base.classes.Album

session = Session(engine)
u1 = session.query(Albums).limit(5).all()

# relations = inspect(Albums).relationships.items()
# for x in relations:
#     direction = x[0]
#     print(x[0],x[1])
    
print(inspect(Track).relationships.items())
print()
print()

for relationship in inspect(Track).relationships:
    print(relationship)
    print("Direction:", relationship.direction)
    print("Joined Table:", relationship.target)
    print()

# for x in relations:
#     for a in x:
#         print(x[0], a)
        

    
#dir(u1[0])
#print(u1)

[('genre', <RelationshipProperty at 0x1d64a64ccd0; genre>), ('album', <RelationshipProperty at 0x1d64a64c6d0; album>), ('mediatype', <RelationshipProperty at 0x1d64a64d0d0; mediatype>), ('playlist_collection', <RelationshipProperty at 0x1d64a64d1d0; playlist_collection>), ('invoiceline_collection', <RelationshipProperty at 0x1d64a61edd0; invoiceline_collection>)]


Track.genre
Direction: symbol('MANYTOONE')
Joined Table: Genre

Track.album
Direction: symbol('MANYTOONE')
Joined Table: Album

Track.mediatype
Direction: symbol('MANYTOONE')
Joined Table: MediaType

Track.playlist_collection
Direction: symbol('MANYTOMANY')
Joined Table: Playlist

Track.invoiceline_collection
Direction: symbol('ONETOMANY')
Joined Table: InvoiceLine

# Studying reflection

In [ ]:
for tbl in Base.metadata.tables.values():
    print(f"Table: {tbl.name}")
    print("Columns: ")
    for col in tbl.columns:
        print(f"   {col.name:18}", end="")
        if col.primary_key:
            print(f"*Primary Key*   ", end="")
        if col.foreign_keys:
            print(f"{col.foreign_keys}", end="")
        print()
    print()

# for table in Base.metadata.tables.values():
#     print(f"Table: {table.name}")
#     print("Columns: ", end="")
#     print(*table.columns.keys(), sep = ", ")
#     print("Primary Keys: ", end="")
#     print(*table.primary_key.columns.keys(), sep=", ")
#     print("Foreign Keys: ", end="")
#     print(*table.foreign_keys, sep=", ")
#     print()

In [ ]:
def table_info(table_name):
    table = Base.metadata.tables[table_name]
    print(f"Table: {table_name}")
    print(f"Columns: ")
    for col in table.columns:
        print(f"   {col.name:15}", end="")
        if col.primary_key:
            print(f"*Primary Key*   ", end="")
        if col.foreign_keys:
            print(f"{col.foreign_keys}", end="")
        print()
    print()

table_info("PlaylistTrack")
table_info("Track")

In [ ]:
Base.metadata.tables["Album"]

In [48]:
for x in Base.classes:
    print(f"Table: {x.__table__.name}")
    print("Columns: ", end="")
    print(*x.__table__.columns.keys(), sep=", ")
    print("Primary Key: ", end="")
    print(*x.__table__.primary_key.columns.keys())
    print("Foreign Keys: ", end="")
    print(*x.__table__.foreign_keys, sep=", ")
    print()

Table: Album
Columns: AlbumId, Title, ArtistId
Primary Key: AlbumId
Foreign Keys: ForeignKey('Artist.ArtistId')

Table: Artist
Columns: ArtistId, Name
Primary Key: ArtistId
Foreign Keys:

Table: Customer
Columns: CustomerId, FirstName, LastName, Company, Address, City, State, Country, PostalCode, Phone, Fax, Email, SupportRepId
Primary Key: CustomerId
Foreign Keys: ForeignKey('Employee.EmployeeId')

Table: Employee
Columns: EmployeeId, LastName, FirstName, Title, ReportsTo, BirthDate, HireDate, Address, City, State, Country, PostalCode, Phone, Fax, Email
Primary Key: EmployeeId
Foreign Keys: ForeignKey('Employee.EmployeeId')

Table: Genre
Columns: GenreId, Name
Primary Key: GenreId
Foreign Keys:

Table: Invoice
Columns: InvoiceId, CustomerId, InvoiceDate, BillingAddress, BillingCity, BillingState, BillingCountry, BillingPostalCode, Total
Primary Key: InvoiceId
Foreign Keys: ForeignKey('Customer.CustomerId')

Table: InvoiceLine
Columns: InvoiceLineId, InvoiceId, TrackId, UnitPrice, Quantity
Primary Key: InvoiceLineId
Foreign Keys: ForeignKey('Invoice.InvoiceId'), ForeignKey('Track.TrackId')

Table: Track
Columns: TrackId, Name, AlbumId, MediaTypeId, GenreId, Composer, Milliseconds, Bytes, UnitPrice
Primary Key: TrackId
Foreign Keys: ForeignKey('Genre.GenreId'), ForeignKey('MediaType.MediaTypeId'), ForeignKey('Album.AlbumId')

Table: MediaType
Columns: MediaTypeId, Name
Primary Key: MediaTypeId
Foreign Keys:

Table: Playlist
Columns: PlaylistId, Name
Primary Key: PlaylistId
Foreign Keys:

In [3]:
Album = Base.classes.Album
Artist = Base.classes.Artist
Customer = Base.classes.Customer
Employee = Base.classes.Employee
Genre = Base.classes.Genre
Invoice = Base.classes.Invoice
InvoiceLine = Base.classes.InvoiceLine
MediaType = Base.classes.MediaType
Playlist = Base.classes.Playlist
Track = Base.classes.Track
playlisttrack = Base.metadata.tables['PlaylistTrack']

In [4]:
import pandas as pd

session1 = Session(engine)

albums = pd.read_sql_table(table_name='Album', con=engine)

print(albums)

     AlbumId                                              Title  ArtistId
0          1              For Those About To Rock We Salute You         1
1          2                                  Balls to the Wall         2
2          3                                  Restless and Wild         2
3          4                                  Let There Be Rock         1
4          5                                           Big Ones         3
..       ...                                                ...       ...
342      343                             Respighi:Pines of Rome       226
343      344  Schubert: The Late String Quartets & String Qu...       272
344      345                                Monteverdi: L'Orfeo       273
345      346                              Mozart: Chamber Music       274
346      347  Koyaanisqatsi (Soundtrack from the Motion Pict...       275

[347 rows x 3 columns]

In [109]:
artists = pd.read_sql_table(table_name='Artist', con=engine)

print(artists.head())

#session.close()

   ArtistId               Name
0         1              AC/DC
1         2             Accept
2         3          Aerosmith
3         4  Alanis Morissette
4         5    Alice In Chains

In [110]:
df1 = pd.merge(left = albums, right = artists, how = 'inner')
print(df1.head(5))
print(df1.shape)

   AlbumId                                  Title  ArtistId       Name
0        1  For Those About To Rock We Salute You         1      AC/DC
1        4                      Let There Be Rock         1      AC/DC
2        2                      Balls to the Wall         2     Accept
3        3                      Restless and Wild         2     Accept
4        5                               Big Ones         3  Aerosmith
(347, 4)

In [111]:
df1.drop('ArtistId', axis=1).rename(columns = {'Name':'Artist'}).head()

   AlbumId                                  Title     Artist
0        1  For Those About To Rock We Salute You      AC/DC
1        4                      Let There Be Rock      AC/DC
2        2                      Balls to the Wall     Accept
3        3                      Restless and Wild     Accept
4        5                               Big Ones  Aerosmith

In [112]:
df2 = (pd
     .merge(albums, artists)
     .drop('ArtistId', axis=1)
     .rename(columns = {'Name':'Artist'}))
print(df2.head())
print(df2.shape)

   AlbumId                                  Title     Artist
0        1  For Those About To Rock We Salute You      AC/DC
1        4                      Let There Be Rock      AC/DC
2        2                      Balls to the Wall     Accept
3        3                      Restless and Wild     Accept
4        5                               Big Ones  Aerosmith
(347, 3)

In [113]:
tracks = pd.read_sql_table(table_name='Track', con=engine)

print(tracks.head())
print(tracks.shape)

   TrackId                                     Name  AlbumId  MediaTypeId  \
0        1  For Those About To Rock (We Salute You)        1            1
1        2                        Balls to the Wall        2            2
2        3                          Fast As a Shark        3            2
3        4                        Restless and Wild        3            2
4        5                     Princess of the Dawn        3            2

   GenreId                                           Composer  Milliseconds  \
0        1          Angus Young, Malcolm Young, Brian Johnson        343719
1        1                                               None        342562
2        1  F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...        230619
3        1  F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...        252051
4        1                         Deaffy & R.A. Smith-Diesel        375418

      Bytes  UnitPrice
0  11170334       0.99
1   5510424       0.99
2   3990994       0.99
3   4331779       0.99
4   6290521       0.99
(3503, 9)

In [114]:
df3 = (pd
     .merge(df2, tracks)
     .drop(['AlbumId','TrackId',
            'Bytes','UnitPrice',
            'MediaTypeId','GenreId'], axis=1)
     .rename(columns = {'Name':'Track', 
                        'Title':'Album',
                        'Milliseconds':'Length(ms)'}))

print(df3.shape)
df3.head().style.format(thousands=",")

(3503, 5)

In [ ]:
session1.close()

In [107]:
from sqlalchemy import func

session1 = Session(engine)

# print(f"Count rows in Album table")
# x = session1.query(func.count(Album.AlbumId)).scalar()
# print(f"Rows in Album:  {x}")

# print(f"Get data in Album table as generator")
# query = session1.query(Album.AlbumId,Album.Title,Album.ArtistId)
# print([x for x in query])

# print(f"Get data in Album table enturely")
# query = session1.query(Album.AlbumId,Album.Title,Album.ArtistId).all()
# print(query)

# print(f"Get inner join of tables Album, Track, and Artist")
# q = (session1.query(Album, Track, Artist)
#      .join(Track, Album.AlbumId==Track.AlbumId)
#      .join(Artist, Album.ArtistId==Artist.ArtistId)
#     )

print(f"Get inner join of tables Album, Track, and Artist")
q = (session1.query(Album, Track, Artist)
     .join(Track)
     .join(Artist)
    )

df4 = pd.read_sql(sql=q.statement, con=engine)
#print(df4)
#display(df4)
#df4.head().style
display(df4.head())
session1.close()

Get inner join of tables Album, Track, and Artist

,AlbumId,Title,ArtistId,TrackId,Name,AlbumId_1,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice,ArtistId_1,Name_1
0,1,For Those About To Rock We Salute You,1,1,For Those About To Rock (We Salute You),1,1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99,1,AC/DC
1,2,Balls to the Wall,2,2,Balls to the Wall,2,2,1,None,342562,5510424,0.99,2,Accept
2,3,Restless and Wild,2,3,Fast As a Shark,3,2,1,"F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...",230619,3990994,0.99,2,Accept
3,3,Restless and Wild,2,4,Restless and Wild,3,2,1,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",252051,4331779,0.99,2,Accept
4,3,Restless and Wild,2,5,Princess of the Dawn,3,2,1,Deaffy & R.A. Smith-Diesel,375418,6290521,0.99,2,Accept

In [108]:
session1 = Session(engine)

print(f"Get inner join of tables Album, Track, and Artist")
q = (session1.query(Album, Track, Artist)
     .join(Track)
     .join(Artist)
    )

df4 = pd.read_sql(sql=q.statement, con=engine)

print(df4.shape)
display(df4.head())

session1.close()

Get inner join of tables Album, Track, and Artist
(3503, 14)

,AlbumId,Title,ArtistId,TrackId,Name,AlbumId_1,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice,ArtistId_1,Name_1
0,1,For Those About To Rock We Salute You,1,1,For Those About To Rock (We Salute You),1,1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99,1,AC/DC
1,2,Balls to the Wall,2,2,Balls to the Wall,2,2,1,None,342562,5510424,0.99,2,Accept
2,3,Restless and Wild,2,3,Fast As a Shark,3,2,1,"F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...",230619,3990994,0.99,2,Accept
3,3,Restless and Wild,2,4,Restless and Wild,3,2,1,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",252051,4331779,0.99,2,Accept
4,3,Restless and Wild,2,5,Princess of the Dawn,3,2,1,Deaffy & R.A. Smith-Diesel,375418,6290521,0.99,2,Accept

In [174]:
session1 = Session(engine)

print(f"Get inner join of tables Album, Track, and Artist")
q = (session1
     .query(Album.Title, 
            Artist.Name, 
            Track.Name, 
            Track.Composer, 
            Track.Milliseconds)
     .join(Track)
     .join(Artist)
    )

df4 = pd.read_sql(sql=q.statement, con=engine)

df5 = (df4.rename(columns = {'Title':'Album', 
                        'Name':'Artist',
                        'Name_1':'Track',
                        'Milliseconds':'Length(ms)'}))

print(df5.shape)
display(df5.head())

session1.close()

Get inner join of tables Album, Track, and Artist
(3503, 5)

,Album,Artist,Track,Composer,Length(ms)
0,For Those About To Rock We Salute You,AC/DC,For Those About To Rock (We Salute You),"Angus Young, Malcolm Young, Brian Johnson",343719
1,Balls to the Wall,Accept,Balls to the Wall,None,342562
2,Restless and Wild,Accept,Fast As a Shark,"F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...",230619
3,Restless and Wild,Accept,Restless and Wild,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",252051
4,Restless and Wild,Accept,Princess of the Dawn,Deaffy & R.A. Smith-Diesel,375418

In [170]:
session1 = Session(engine)

print(f"Album table relationships")
print()
for relationship in inspect(Album).relationships:
    print(f"Reletionship: {relationship}")
    print(f"Direction:    {relationship.direction}")
    print(f"Joined Table: {relationship.target}")
    print()

    
first_album = session1.query(Album).first()

print(f"Album:  {first_album.Title}")
print(f"Artist: {first_album.artist.Name}")
print(f"Tracks:")
for t in first_album.track_collection:
    print(f"    {t.Name}")

session1.close()

Album table relationships

Reletionship: Album.artist
Direction:    symbol('MANYTOONE')
Joined Table: Artist

Reletionship: Album.track_collection
Direction:    symbol('ONETOMANY')
Joined Table: Track

Album:  For Those About To Rock We Salute You
Artist: AC/DC
Tracks:
    For Those About To Rock (We Salute You)
    Put The Finger On You
    Let's Get It Up
    Inject The Venom
    Snowballed
    Evil Walks
    C.O.D.
    Breaking The Rules
    Night Of The Long Knives
    Spellbound

In [179]:
df5.dtypes
df5[['Artist', 'Album']].head()

   Artist                                  Album
0   AC/DC  For Those About To Rock We Salute You
1  Accept                      Balls to the Wall
2  Accept                      Restless and Wild
3  Accept                      Restless and Wild
4  Accept                      Restless and Wild