In [ ]:
import pandas as pd
from pathlib import Path

url = Path.home().joinpath('Documents', 'Chinook_Sqlite.sqlite')

albums = pd.read_sql_table('Album', url)

print(df.shape)
display(df.head(3))

In [ ]:
import pandas as pd
from os import path

homedir = path.expanduser("~")
url = path.join(homedir, 'Documents', 'Chinook_Sqlite.sqlite')
url = str(url)
#url = r"sqlite:///C:/Users/blinklet/Documents/Chinook_Sqlite.sqlite"
albums = pd.read_sql_table('Album', url)

print(albums.shape)
display(albums.head(3))

In [9]:
import pandas as pd
from pathlib import Path

home_dir = Path.home()
file_path = home_dir.joinpath('Documents', 'Chinook_Sqlite.sqlite')
url = 'sqlite:///' + str(file_path)

albums = pd.read_sql_table('Album', url)

print(albums.shape)
display(albums.head(3))

(347, 3)

   AlbumId                                  Title  ArtistId
0        1  For Those About To Rock We Salute You         1
1        2                      Balls to the Wall         2
2        3                      Restless and Wild         2